 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #eeeeee;
    --primary-color: #005a34;
    --hover-color: #1fe64a;
    --text-color: #231F20;
    --border-color: #f2ecff;
    --shadow-color: #b6b6b6;
    --sidebar-color: #003d25;
}

body{
    background: var(--body-color);
}

html:focus{
    outline:none
}

.had{
    position: relative;
    top: .7rem;
    margin-bottom: .1rem;
}

.pi{
    position: relative;
    left: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--primary-color);
}

.pn{
    font-family:Verdana;
    font-size: large;
    position: relative;
    top: -25px;
    left: 3.6rem; 
}

.ls{
    position: relative;
    top: -45px;
    left: 77rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
    
}

.ls a{
    text-decoration: none;
    color: var(--text-color);
}

.ls :focus{
    outline:none
}   


.si{
    position: relative;
    top: -45px;
    left: 77.5rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.si a{
    text-decoration: none;
    color: var(--text-color);
}


.si :focus{
    outline:none
}

.name{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 350%;
}

.so{
    position: relative;
    top: 110px;
    text-align: center;
}

.sidebar{
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow:var(--shadow-color)2px 2px;
    display: none;
}

.sidebar button{
    position: relative;
    top:-1rem;
    left: 10rem;
    text-decoration: none;
    background:none;
    color: var(--text-color);
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
    padding: 12px 16px;
    font-size: 30px;
}

.sidebar li{
    position: relative;
    top: -2.4rem;
    left: 2rem;
    font-size: small;
}

.sidebar svg{
    position: relative;
    top: -.7rem;
    left: .1rem;
}

.sidebar .ot, .sidebar .st, .sidebar .tp, .sidebar .mp, .sidebar .sr, .sidebar .ca, .sidebar .pw, .sidebar .cwt, .sidebar .gt, .sidebar .lo{
    position: relative;
    top: -1rem;
    left: .8rem;
    width: 12rem;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: .5rem;
}

.sidebar ul{
    list-style-type: none;
    margin: 1px;
}

.sidebar ul a{
    text-decoration: none;
    color: var(--text-color);
}