 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #eeeeee;
    --text-color: #231F20;
    --border-color: #f2ecff;
    --shadow-color: #b6b6b6;
}

body{
    background: var(--body-color);
}

html:focus{
    outline:none
}

.had{
    position: relative;
    top: .7rem;
    margin-bottom: .1rem;
}

.pn{
    font-family:Verdana;
    font-size: large;
    position: relative;
    top: -25px;
    left: 3.6rem; 
}

.ls{
    position: relative;
    top: -45px;
    left: 77rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
    
}

.ls a{
    text-decoration: none;
    color: var(--text-color);
}

.ls :focus{
    outline:none
}   


.si{
    position: relative;
    top: -45px;
    left: 77.5rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.si a{
    text-decoration: none;
    color: var(--text-color);
}


.si :focus{
    outline:none
}

.name{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 350%;
}

.so{
    position: relative;
    top: 110px;
    text-align: center;
}

.get{
    position: absolute;
    left: 37rem;
    top: 30rem;
}

.get a{
    text-decoration: none;
    color: var(--text-color);
}

.get button{
    border: none;
    text-decoration: none;
    background: none;
    color: var(--text-color);
}