* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #eeeeee;
    --primary-color: #005a34;
    --hover-color: #1fe64a;
    --text-color: #231F20;
    --border-color: #f2ecff;
    --shadow-color: #b6b6b6;
    --sidebar-color: #003d25;
}

body{
    background: var(--body-color);
}

html:focus{
    outline:none
}

.had{
    position: relative;
    top: .7rem;
    margin-bottom: .1rem;
}

.pi{
    position: relative;
    left: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--primary-color);
}

.pn{
    font-family:Verdana;
    font-size: large;
    position: relative;
    top: -25px;
    left: 3.6rem; 
}

.ls{
    position: relative;
    top: -45px;
    left: 77rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
    
}

.ls a{
    text-decoration: none;
    color: var(--text-color);
}

.ls :focus{
    outline:none
}   


.si{
    position: relative;
    top: -45px;
    left: 77.5rem; 
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.si a{
    text-decoration: none;
    color: var(--text-color);
}


.si :focus{
    outline:none
}

.name{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 350%;
}

.so{
    position: relative;
    top: 110px;
    text-align: center;
}

.get{
    position: absolute;
    left: 38rem;
    top: 25rem;
}

.get a {
    text-decoration: none;
    color: var(--text-color);
}

.get button{
    width: 10rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1rem;
    border: var(--border-color);
    box-shadow: var(--shadow-color) 4px 3px;
}