* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #eeeeee;
    --box-color: #e4e4e4;
    --primary-color: #005a34;
    --hover-color: #1fe64a;
    --text-color: #231F20;
    --border-color: #f2ecff;
    --shadow-color: #b6b6b6;
}

body{
    background: var(--body-color);
}

.had{
    position: relative;
    top: .7rem;
    margin-bottom: .1rem;
}

.pi{
    position: relative;

    left: 1rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--primary-color);
}

.pn{
    font-family:Verdana;
    position: relative;
    top: -25px;
    left: 3.6rem; 
}

main .login-box{
    position: relative;
    width: 300px;
    height: 470px;
    border-radius: 10%;
    background: var(--box-color);
    top: 5rem;
    left: 33rem;
    text-align: center;
    border: var(--border-color);
    box-shadow: var(--shadow-color) 5px 5px;
}

main .login-box h2{
    position: relative;
    top: 1rem;
    color: var(--text-color);
}

main .user-box label{
    position: relative;
    top: 1.4rem;
    left: -6rem;
    color: var(--text-color);
}

#usernameInput{
    position: relative;
    top: 1.7rem;
    left: -.3rem;
}

main .user-boxp label{
    position: relative;
    top: 2rem;
    left: -6rem;
    color: var(--text-color);
}

#passwordInput{
    position: relative;
    top: 2.4rem;
    left: -.3rem;
}

.button{
    position: relative;
    top: 6rem;
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    border: var(--border-color);
    box-shadow: var(--shadow-color) 2px 2px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-out;
}

.button:hover {
  background-color: var(--hover-color);
}

.register-link{
    position: relative;
    top: 7rem;
    color: var(--text-color);
}

.forgot-password-link{
    position: relative;
    top: 7.5rem;
    color: var(--text-color);
}

.forgot-password-link a{
    color: var(--text-color);
    text-decoration: none;
}

.social-login p{
    position: relative;
    top: 10rem;
    color: var(--text-color);
}

.google-login{
    position: relative;
    top: 10.5rem;
    left: .5rem;
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    border: var(--border-color);
    box-shadow: var(--shadow-color) 2px 2px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-out;
}

.google-login:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.github-login{
    position: relative;
    top: 11rem;
    left: .5rem;
    width: 12rem;
    height: 2rem;
    border-radius: 1rem;
    border: var(--border-color);
    box-shadow: var(--shadow-color) 2px 2px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-out;
}

.github-login:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}